/* css styles */
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  background-color: #f4f1ea;
  color: #111;
  letter-spacing: 0.5px;
  line-height: 1.8;
}

/* Make headings slightly larger */
h1 {
  font-size: 2rem;
  font-weight: bolder;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}