/* css styles */
/* Base layout */
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  background-color: #f4f1ea;
  color: #313338;
  letter-spacing: 0.5px;
  line-height: 1.8;
  max-width: 800px;
  margin: 80px auto;
  padding: 0 20px;
}

/* Headings */
h1, h2, h3 {
  margin: 40px 0 20px;
  font-weight: bold;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
