/* css styles */
/* Base layout */
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  background-color: #f4f1ea;
  color: #313338;
  letter-spacing: 0.5px;
  line-height: 1.8;
  max-width: 800px;
  margin: 80px auto;
  padding: 0 20px;
}

/* Headings */
h1, h2, h3 {
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 0px;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }

/* Retro boxed navigation */
.custom-nav {
  margin-top: 12px;
  display: block;
  border: 1px solid #313338;
  margin-bottom: 60px;
}

.custom-nav a {
  display: block;
  padding: 0px 20px;
  text-decoration: none;
  color: #313338;
  border-bottom: 1px solid #313338;
}

/* Remove bottom border on last item */
.custom-nav a:last-child {
  border-bottom: none;
}

.custom-nav a:hover {
  background-color: #e8e4da;
}

/* Make text side by side to navigation bar in index file */
.home-layout {
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

.home-content {
  max-width: 400px;
}

.home-content h2 {
   margin: 0 0 20px 0;
}